<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bluefletch.internal.feed" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <permission
        android:name="com.bluefletch.internal.feed.permission.UA_DATA"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.bluefletch.internal.feed.permission.UA_DATA" />

    <!-- Required for Push -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- This app has permission to register with GCM and receive message -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.bluefletch.internal.feed.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.bluefletch.internal.feed.permission.C2D_MESSAGE" />

    <application
        android:name=".FeedApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FeedActivity"
            android:label="@string/title_activity_feed"
            android:launchMode="singleTop" >
        </activity>

        <!-- Required for the UrbanAirship library -->
        <provider
            android:name="com.urbanairship.UrbanAirshipProvider"
            android:authorities="com.bluefletch.internal.feed.urbanairship.provider"
            android:exported="true"
            android:multiprocess="true"
            android:permission="com.bluefletch.internal.feed.permission.UA_DATA" />

        <!-- Required for Push -->
        <service android:name="com.urbanairship.push.PushService" />

        <receiver android:name="com.urbanairship.CoreReceiver" />
        <receiver
            android:name="com.urbanairship.push.GCMPushReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.bluefletch.internal.feed" />
            </intent-filter>

            <!-- Required for detecting when the application is upgraded so it can request a new GCM ID -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name=".IntentReceiver" />

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="d7e1e803c115fef1649b986ffb44366752b70c5c" />

    </application>

</manifest>
